<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Lista Sedes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <div class="collapse navbar-collapse justify-content-end" id="navbar-app">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/inventario}">Inventario</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/marca}">Marcas</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/tipos}">Tipos de Equipo</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/sedes}">Sedes</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/trabajadores/lista}">Trabajadores</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Lista Sedes</h1>
                <a class="btn btn-primary mt-4 mb-4" th:href="@{/sedes/new}">Nueva Sede</a>
                <div th:class="'alert ' + ${accion}" th:text="${msg}" th:if="${msg != null && accion != null}"></div>
                <table class="table table-sm">
                    <tr>
                        <th>#</th>
                        <th>Nombre de la Sede</th>
                        <th>Direccion de la sede</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="sede, info : ${listasedes}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${sede.nombreSede}"></td>
                        <td th:text="${sede.direccion}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/sedes/edit' + '?id=' + ${sede.idsede}}">Editar</a>
                        </td>
                        <td><a class="btn btn-danger" th:href="@{'/sedes/delete' + '?id=' + ${sede.idsede}}">Borrar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </main>

        <!-- /Contenido -->
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">GRUPO 1 - PUCP @ 2022</div>
                </div>
            </div>
        </footer>
        </div>
        <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
    </body>
</html>